@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', sans-serif;
}

header {
    background: url('../images/Banner\ Image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 700px;
    display: flex;
    align-items: center;;
}

.banner {
    background: linear-gradient(rgba(0, 0, 0, 1), transparent);
    text-align: center;
    color: white;
    width: 1320px;
    height: 600px;
    margin: 20px 15px;
    border-radius: 16px;
    position: relative;
}

.banner h3 {
    margin-top: 180px;
    font-size: 32px;
    font-weight: 300;
}

.banner h1 {
    font-size: 72px;
    font-weight: 900;
}

.section-1 {
    text-align: center;
    margin: 120px 270px 120px 280px;
}

.section-1 h1, h2, h3 {
    font-family: 'Inter',sans-serif;
}

.section-1 h1 {
    color: #FF0000;
    font-size: 85px;
    margin-bottom: 48px;
}

.section-1 h3 {
    color: #FF0000;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.section-1 h2 {
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 48px;
}

.section-2 {
    background: url('../images/Vectorrr.png');
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
    /* display: flex; */
}

.only-text {
    background: linear-gradient(to right, rgb(1, 0, 21), transparent);
    width: 657px;
    height: 176px;
    margin: 20px 16px;
    border-radius: 16px;
    color: white;
    padding: 126px 552px 298px 126px;
}

.only-text h1{
    font-size: 68px;
    letter-spacing: 0.5rem;
}

.only-text p{
    font-family: 'Inter',sans-serif;
    font-size: 18px;
    font-weight: 150;
    margin: 24px 0 48px 0;
    line-height: 1.8rem;
}

.only-text a{
    font-family: 'Inter',sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-left: 32px;
}

.only-text img{
    /* text-align: right; */
    margin: -385px 138px -4px 730px;
    background: transparent;
}

.pink-bg {
    margin: 168px 24px 120px 24px;
    background: linear-gradient(#ffe6e6, transparent);
    /* background: lightpink; */
    padding: 100px 386px 110px 385px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    border-radius: 16px;
}

.pink-bg button{
    border: none;
    padding: 16px 32px;
    border-radius: 8px;
    background-color: #FF0000;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.red {
    color: #FF0000;
}

.section-4 {
    padding: 120px 10px;
}

.coming-soon {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.coming-soon h4{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 550;
    margin-bottom: 16px;
}

.first {
    /* width: 393px;
    height: 255px; */
    margin: 0 80px 0 15px;
    /* background: #6D6D6D; */
    width: 782px;
}

.first h1{
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 22px;
}

.coming-soon p{
    font-size: 20px;
    color: #6D6D6D;
    font-family: 'Inter', sans-serif;
    line-height: 2rem;
}

.second {
    width: 520px;
    margin-right: 18px;
    margin-top: 110px;
}

.second h1 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 16px;
}

.second p {
    margin-bottom: 43px;
}

.ellipse {
    border: 15px solid #FF0000;
    border-radius: 50%;
    padding: 35px;
    margin: 0 118px 0 -28px;
}

/* Holiday Section */
.holiday{
    margin: 0 105px;
}

.holiday-text{
    margin: 0 115px -130px;
    text-align: center;
}

.holiday-text h3{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.holiday-text h1{
    font-family: 'Merriweather', sans-serif;
    font-size: 63px;
    font-weight: 800;
    margin-top: 16px;
}

.holiday-text p{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #6D6D6D;
    font-weight: 500;
    margin-top: 26px;
    line-height: 1.7rem;
    text-align: center;
}

.red-bg-img{
    text-align: center;
    position: relative;
}

.z-third{
    z-index: 3;
    width: 1127px;
}

.z-second{
    position: relative;
    z-index: 2;
    top: 194px;
    float: left;
    width: 650px;
}

.z-first{
    position: relative;
    top: 240px;
    left: -65px;
    z-index: 1;
    float: right;
    width: 250px;
}

/* Portfolio Section */
.portfolio{
    margin: 132px 105px 120px;
}

.portfolio h4{
    font-family: 'Inter', sans-serif;
    font-size: 21px;
    font-weight: 450;
    margin-bottom: 16px;
}

.portfolio h2{
    font-family: 'Merriweather', sans-serif;
    font-weight: 850;
    font-size: 45px;
    color: #070211;
    margin-bottom: 22px;
}
.portfolio p{
    font-size: 18px;
    font-weight: 400;
    color: #6D6D6D;
    font-family: 'Inter', sans-serif;
    line-height: 1.7rem;
    margin-bottom: 48px;
}

.portfolio-img{
    width: 368px;
    height: auto;
    margin-bottom: 14px;
}

.mr-right{
    margin-right: 14px;
}